/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/(auth)/login/login.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.login_container__6x_TJ{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_wrapper__Fo4_h{
  width: 500px;
  background-color: var(--bgSoft);
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  border-radius: 5px;
}

.login_github__k55Sc{
  width: 100%;
  padding: 20px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}



/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/loginForm/loginForm.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.loginForm_form__gv3hk{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.loginForm_form__gv3hk input{
  padding: 20px;
  background-color: var(--bg);
  color: var(--textColor);
  border: none;
  border-radius: 5px;
}

.loginForm_form__gv3hk button{
  padding: 20px;
  cursor: pointer;
  background-color: var(--btn);
  color: var(--textColor);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.loginForm_myinput__YED43::placeholder { 
  color: #888888;
}
