/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/blog/[slug]/singlePost.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.singlePost_container__J4hYf {
  display: flex;
  gap: 100px;
}

.singlePost_imgContainer__1gfP2 {
  flex: 1 1;
  position: relative;
  height: calc(100vh - 200px);
}

.singlePost_img__wzZbj{
  object-fit: cover;
}

.singlePost_textContainer__J6gX8 {
  flex: 2 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.singlePost_title__T5MRQ{
  font-size: 64px;
}

.singlePost_detail__uBlmZ{
  display: flex;
  gap: 20px;
}

.singlePost_detailText__ToJ94{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.singlePost_detailTitle__E631n{
  color: gray;
  font-weight: bold;
}

.singlePost_detailValue__fQc_P{
  font-weight: 500;
}

.singlePost_content__Ozb_7{
  font-size: 20px;
}

@media (max-width:768px){
  .singlePost_imgContainer__1gfP2{
    display: none;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/postUser/postUser.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.postUser_container__dKtv0{
  display: flex;
  align-items: center;
  gap: 20px;
}

.postUser_avatar__1kiLn{
  object-fit: cover;
  border-radius: 50%;
}

.postUser_texts__whqrP{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postUser_title__oP_Sa{
  color: gray;
  font-weight: bold;
}

.postUser_username__OZ0h_{
  font-weight: 500;
}
